.white-color {
  color: #fff;
}

.width-1-1 {
  width: 100%;
}

body {
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #232323;
}

h1, h2, .news-section .overflow-title, h3, h4, h5, h6 {
  font-family: "Teko", sans-serif;
}

h1 {
  font-size: 60px;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
}

header .main-navigation {
  border-top: 2px solid #214d8f;
  height: 60px;
}

header .main-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

header .main-navigation ul li {
  padding: 10px 25px;
  position: relative;
}

header .main-navigation ul li a {
  color: #214d8f;
  font-family: "Teko", sans-serif;
  font-size: 20px;
}

header .main-navigation ul li a:after {
  content: '';
  background-color: #214d8f;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: none;
}

header .main-navigation ul li a:hover:after {
  display: block;
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .main-navigation ul li a:hover {
  text-decoration: none;
}

header .main-navigation ul li a:focus {
  text-decoration: none;
}

.active:before {
  content: '';
  background-color: #214d8f;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
}

.social-networks li {
  padding: 0 6px;
}

.social-networks li:first-child {
  padding-right: 10px;
  padding-left: 0;
}

.social-networks li a {
  color: #214d8f;
  font-size: 19px;
}

.social-networks li a:hover {
  opacity: .6;
}

.header-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 110px;
}

.header-bar .search-link {
  font-size: 19px;
  padding: 10px;
}

footer {
  background-color: #214d8f;
  padding: 50px 0;
}

footer .footer-logo {
  margin: 0;
}

footer h2, footer .news-section .overflow-title, .news-section footer .overflow-title {
  color: #fff;
}

footer .footer-navigation {
  margin: 50px 0;
}

footer .footer-navigation .footer-list-item {
  list-style: none;
  padding: 0;
}

footer .footer-navigation .footer-list-item li {
  line-height: 2;
}

footer .footer-navigation .footer-list-item li a {
  color: #c1cbf1;
}

footer .footer-copyright {
  color: #c1cbf1;
}

footer .contact-list {
  font-weight: 700;
  color: #c1cbf1;
}

footer .contact-list li {
  position: relative;
}

footer .contact-list p {
  font-weight: 400;
  margin: 0;
}

footer .contact-list i {
  position: absolute;
  left: -30px;
  top: 6px;
  color: #fff;
  font-size: 20px;
}

footer .followus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

footer .social-networks li a {
  color: #fff;
}

.top-image {
  background-image: url("../images/625206764.jpg");
  height: 480px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center 8%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-image .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #214d8f;
  background: -moz-linear-gradient(left, #214d8f 0%, rgba(33, 77, 143, 0) 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #214d8f), color-stop(70%, rgba(33, 77, 143, 0)));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF', GradientType=0);
  /* ie */
}

/* --== NEWSLETTER SECTION ==-- */
.floating-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* --== /NEWSLETTER SECTION ==-- */
/* --== NEWS SECTION ==-- */
.news-section {
  padding: 70px 40px;
}

.news-section h2, .news-section .overflow-title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Encode Sans Condensed", sans-serif;
  margin: 0;
  margin-bottom: 55px;
}

.news-section h2 a, .news-section .overflow-title a {
  color: #232323;
}

.news-section .news-item {
  margin-top: 50px;
}

.news-section .overflow-title {
  font-size: 22px;
  max-height: 53px;
  margin: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-top: 20px;
}

.news-section p {
  max-height: 110px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.news-section hr {
  border: 0;
  border-top: 1px solid #8e8e8e;
  margin: 20px 0;
}

.big-news {
  position: relative;
}

.big-news img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 43%;
     object-position: center 43%;
}

.news-data {
  background-color: #214d8f;
  color: #fff;
  font-weight: 800;
  padding: 20px 40px;
  position: absolute;
  top: 31px;
}

.news-title {
  font-weight: 700;
  font-size: 20px;
  font-family: "Encode Sans Condensed", sans-serif;
}

.news-title a {
  color: #000;
}

/* --== /NEWS SECTION ==-- */
/* --== NEWSLETTER SECTION ==-- */
.section-newsletter {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.section-newsletter .newsletter-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-newsletter .newsletter-wrapper h2, .section-newsletter .newsletter-wrapper .news-section .overflow-title, .news-section .section-newsletter .newsletter-wrapper .overflow-title {
  font-size: 42px;
  color: #214d8f;
}

.newsletter-form {
  /* Firefox 19+ */
  /* Firefox 18- */
}

.newsletter-form-item {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 2;
  color: #555;
  background-color: #f7f7f7;
  background-image: none;
  border: 1px solid #1b52b5;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.newsletter-form-item:focus {
  outline: 0;
}

.newsletter-form ::-webkit-input-placeholder {
  color: #9c9c9c;
}

.newsletter-form ::-moz-placeholder {
  color: #9c9c9c;
}

.newsletter-form :-moz-placeholder {
  color: #9c9c9c;
}

.newsletter-form :-ms-input-placeholder {
  color: #9c9c9c;
}

.newsletter-form-submit {
  background-color: #214d8f;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #fff;
  outline: 0;
}

.newsletter-form-submit:hover {
  opacity: .8;
  color: #fff;
}

.newsletter-form-submit:focus {
  color: #fff;
  opacity: 1;
  background-color: #173766;
}

.newsletter-form .text-error {
  color: red;
  position: absolute;
  bottom: -27px;
}

/* --== /NEWSLETTER SECTION ==-- */
@media only screen and (max-width: 1000px) {
  body {
    display: none;
  }
}
