header {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba($white-color, .6);
  z-index: 100;
  .main-navigation {
    border-top: 2px solid $main-color;
    height: 60px;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style: none;
      height: 100%;
      margin: 0;
      padding: 0;
      li {
        padding: 10px 25px;
        position: relative;
        a {
          color: $main-color;
          font-family: $teko-font;
          font-size: 20px;
          &:after {
            content: '';
            background-color: $main-color;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: none;
          }
          &:hover:after {
            display: block;
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translateX(-50%);
          }
          &:hover {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.active {
  &:before {
    content: '';
    background-color: $main-color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.social-networks {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  li {
    padding: 0 6px;
    &:first-child {
      padding-right: 10px;
      padding-left: 0;
    }
    a {
      color: $main-color;
      font-size: 19px;
      &:hover {
        opacity: .6;
      }
    }
  }
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 110px;

  .search-link {
    font-size: 19px;
    padding: 10px;
  }
}